
<mat-card >
  <mat-card-header class="employee">
    <mat-card-title>{{ employee.lastName }}, {{ employee.firstName}}</mat-card-title>
    <mat-card-subtitle>Employee Id: {{employee.id}}</mat-card-subtitle>
    <mat-card-subtitle>Direct Reports: {{ totalReports }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Job Title:</strong> {{ employee.position }}</p>

    <div *ngIf="employee.directReports?.length > 0">
      <h4>Direct Reports:</h4>
      <div class="direct-report-table">
        <div class="direct-report-row" *ngFor="let report of directReports" [ngClass]="{ 'direct-report-row' : true }">
          <div class="direct-report-cell">{{ report.lastName }}, {{ report.firstName }}</div>
          <div class="direct-report-cell">
            <button class="button-right" mat-icon-button color="primary" aria-label="Edit" (click)="editReport(report)">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="button-right" mat-icon-button color="warn" aria-label="Delete" (click)="deleteReport(report)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="employee.directReports?.length < 1">
      <h4>Direct Reports:</h4>
      <div class="direct-report-table">
        <div class="direct-report-row" [ngClass]="{'no-direct-report' : true}">
          <div class="direct-report-cell">This employee has no reports</div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>