.employee {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

  .direct-report-table {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .direct-report-row {
    display: flex;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: blue;
  }

  .no-direct-report {
    display: flex;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: red;
  }
  
  .direct-report-cell {
    flex: 1;
    display: flex;
    padding: 8px;
    justify-content: space-between right;
    align-items: center;
  }

  /* .button-right {
    flex: 1;
    justify-content: space-between left;
    align-items: center;
    margin-right: 2%;
  } */


  .mat-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .mat-card-header {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #f5f5f5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .mat-card-header-text {
    flex-grow: 1;
    margin-left: 16px;
  }
  
  .mat-card-content {
    padding: 16px;
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    background-color: #f5f5f5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

